<%= form_for :filter, Routes.page_path(@conn, :create), fn f -> %>
  <label>
    Prefixes (separeted by comma): <%= text_input f, :prefixes, value: assigns.prefixes %>
  </label>

  <label>
    Ignore pattern: <%= text_input f, :ignore_pattern, value: assigns.ignore_pattern %>
  </label>

  <%= submit "Submit" %>
<% end %>

<!--
<%= inspect assigns.info %>
-->

<%= if assigns.info != [] do %>
<div class="mermaid">
  <%= assigns.info %>
</div>
<% end %>
